<div ng-controller="viewaddclientCtrl as ctrl">
  <form>
    <h1>Registration form for client:</h1>
    <!--<div class="row form-group">-->
      <!--<div class="col-md-3">-->
        <!--<label for="client_id">Client ID:</label>-->
      <!--</div>-->
      <!--<div class="col-md-9">-->
        <!--<input class="form-control" id="client_id" type="text" ng-model="ctrl.formClient.client_id"></input>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row form-group">
      <div class="col-md-3">
        <label for="client_name">Client name:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="client_name" type="text" ng-model="ctrl.formClient.client_name"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="phone_number">Phone number:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="phone_number" type="number" ng-model="ctrl.formClient.phone_number"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="city">City:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="city" type="text" ng-model="ctrl.formClient.city"></input>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="email">E-mail:</label>
      </div>
      <div class="col-md-9">
        <input class="form-control" id="email" type="email" ng-model="ctrl.formClient.email"></input>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
          <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Add Client">
      </div>
    </div>
  </form>
</div>