<div ng-controller="homeCtrl as ctrl">

<br>
    <h1>Welcome!</h1>
    <div class="jasmine-description">
        Free <strong>Simple CRM</strong> program that automates and supports processes at the client-organization interface
        in the area of acquisition and maintenance (customer service).<br>
<br>
        Make your work easier and manage your relationships with clients and assigned tasks straight from your web browser.<br>
        Thanks to our <strong>Simple CRM</strong> system, you can easily add clients to your contact database, manage contacts with them,
        and you can set reminders so that you never forget about an important date, such as the birthday of your clients.<br>
<br>
        We invite you to take advantage of our free <strong>Simple CRM</strong> system.<br>
<br>
        <strong><a href="#!/view2">REGISTER NOW!</a></strong> and discover all the possibilities of a professional and completely free tool which is <strong>Simple CRM</strong>.<br>
<br>
        <em>Marcin Keslinke and Krzysztof Styn</em>
    </div>

    <div class="invisible">

    </div>


    <div class="invisible">

    </div>


</div>