<div ng-controller="viewaddcaseCtrl as ctrl">
  <form>
    <h1>Add case for client:</h1>
    <!--<div class="row form-group">-->
      <!--<div class="col-md-3">-->
        <!--<label for="client_id">Client ID:</label>-->
      <!--</div>-->
      <!--<div class="col-md-9">-->
        <!--<input class="form-control" id="client_id" type="text" ng-model="ctrl.formClient.client_id"></input>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row form-group">
      <div class="col-md-3">
        <label for="case_description">Case description:</label>
      </div>
      <div class="col-md-10">
        <input class="form-control" id="case_description" type="text" ng-model="ctrl.createCase.case_description"></input>
      </div>
    </div>

    <div class="case">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Add case">
      </div>
    </div>
  </form>
</div>